<div fxLayout="column wrap" class="cart-details-inner-div" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="row wrap" fxLayoutAlign="space-between center" [fxShow]="true">
    <div>
      <h1 class="cart-details-text">Subtotal:</h1>
    </div>
    <div>
      <h1 class="cart-details-text">$ {{((page?.total?.result[0]?.total)/1000).toFixed(2)}}k</h1>
    </div>
  </div>
  <div>
    <hr>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="space-between center" [fxShow]="true">
    <div>
      <div style="display: flex; flex-direction= &apos;row&apos;; align-items: center;">
        <h1 class="cart-details-text">Platform charges</h1> &#xA0; <div class="platform-charges-sm">(2%)</div> &#xA0; <h1 class="cart-details-text"> :</h1>
      </div>
    </div>
    <div>
      <h1 class="cart-details-text">$ {{(((2/ 100)*page?.total?.result[0]?.total)/1000).toFixed(2)}}k</h1>
    </div>
  </div>
  <div>
    <hr>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="space-between center" [fxShow]="true">
    <div>
      <h1 class="cart-details-text-total">Total:</h1>
    </div>
    <div>
      <h1 class="cart-details-text-total">$ {{((((2/ 100)*page?.total?.result[0]?.total)+page?.total?.result[0]?.total)/1000).toFixed(2)}}k</h1>
    </div>
  </div>
</div>