<div fxLayout="column wrap" class="qr-scanner" fxLayoutAlign="center center" [fxShow]="true">
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <div html style="padding:10px;margin:10px;">
      <div (click)="action.isStart ? action.stop() : action.start()">
        <ngx-scanner-qrcode #action="scanner" (data)="page.output = ($event)" (error)="onError($event)">
        </ngx-scanner-qrcode>
        <!-- data  -->
      </div>
      <div style="text-align:left; margin-top: 10px; margin-left: 5px; ">
        <div>
          <span *ngIf="action?.data?.value[0]?.value">{{scannedData(action?.data?.value[0]?.value)}}</span><!-- value -->
          <!-- <span>{{ action.data | async | json }}</span> -->
          <!-- async -->
          <!-- Loading -->
          <!-- <p *ngIf="action.isLoading">⌛ Loading...</p> -->
        </div>
        <!-- start -->
        <!-- <button (click)="action.isStart ? action.stop() : action.start()" class="scanner-btn">{{action.isStart ? 'Stop' : 'Start'}}</button> -->
      </div>
      <br>
    </div>
    <div fxLayout="row wrap" class="product-name" fxLayoutAlign="start stretch" [fxShow]="true"><button mat-button style="font-weight: 700; font-size: 18px;" (click)="enterTheCodeManually()">Enter the code manually</button></div>
    <div fxLayout="row wrap" style="height: 80px;" fxLayoutAlign="center stretch" [fxShow]="true"><router-outlet></router-outlet></div>
  </div>
</div>