<div fxLayout="row wrap" style="width:100;background:#F1F1F1;height:100vh;" fxLayoutAlign="center center" [fxShow]="true">
  <form [formGroup]="page.addRegisterForm" fxFlex="30" style="background:rgb(250, 248, 220);" class="admin-addproducts">
    <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="center center" [fxShow]="true">
      <div>
        <h3 style="text-align:center">Add Products</h3>
      </div>
      <mat-form-field style="width:60%;" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
        <input matInput placeholder="Name" [required]="false" formControlName="name" fxFlex="100">

      </mat-form-field>
      <mat-form-field style="width:60%;" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
        <input matInput type="number" placeholder="Price" [required]="false" formControlName="price" fxFlex="100">

      </mat-form-field>
      <mat-form-field style="width:60%;" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
        <input matInput placeholder="Description" [required]="false" formControlName="description" fxFlex="100">

      </mat-form-field>
      <div style="margin: 20px">
        <input type="file" (change)="getFile($event)" required>
      </div>
      <div style="margin: 20px">
        <img [src]="page.imageSrc" *ngIf="page.selectedFile" width="100px">
      </div><button mat-button style="background:blue;color:white;width:60%;margin-bottom:1em;" color="warn" (click)="postProducts()">Submit</button>
    </div>
  </form>
</div>