<div fxLayout="row wrap" class="admin-login-main" fxLayoutAlign="center center" [fxShow]="true">
  <div fxLayout="column wrap" style="width:60%;height:60%;background:black;      opacity:0.9;border-radius:10px;" fxLayoutAlign="center center" [fxShow]="true">
    <form [formGroup]="page.addRegisterForm" class="admin-login-form">
      <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true"><mat-icon style="color:yellow;">lock</mat-icon>
        <div>
          <h2 style="color:white">Admin</h2>
        </div>
        <div>
          <input type="text" class="txt txt-password" formControlName="email" placeholder="User Id">
          <input type="password" class="txt txt-password" formControlName="password" placeholder="Password">
        </div><button mat-button style="width:50%;background:red;color:white;" (click)="adminLogin()">Sign in</button>
      </div>
    </form>
  </div>
</div>