<div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="space-around center" [fxShow]="true">
  <div fxLayout="column" fxLayoutAlign="center center" (click)="adminHome()" style="cursor: pointer;">
    <i class="fa-solid fa-house"></i>
    <p class="icon-div">Home</p>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" (click)="addProducts()" style="cursor: pointer;">
    <i class="fa-solid fa-circle-plus"></i>
    <p class="icon-div">Add</p>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" (click)="allOrders()" style="cursor: pointer;">
    <i class="fa-solid fa-clock-rotate-left"></i>
    <p class="icon-div">Bills</p>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" style="cursor: pointer;">
    <i class="fa-solid fa-user"></i>
    <p class="icon-div">Admin</p>
  </div>
</div>