<div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="space-around center" [fxShow]="true">
  <div fxLayout="column" fxLayoutAlign="center center" (click)="navigateToHome()" style="cursor: pointer;">
    <i class="fa-solid fa-house"></i>
    <p class="icon-div">Home</p>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" (click)=" navigateToScanner()" style="cursor: pointer;">
    <i class="fa-solid fa-qrcode"></i>
    <p class="icon-div">Scan</p>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" (click)="navigateToCart()" style="cursor: pointer;">
    <i class="fa-solid fa-cart-shopping"></i>
    <p class="icon-div">Cart</p>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" (click)="navigateToProfile()" style="cursor: pointer;">
    <i class="fa-solid fa-user"></i>
    <p class="icon-div">User</p>
  </div>
</div>